.platform-page-container {
  padding: 20px;
  padding-left: 300px; /* Sayfanın başından 250px boşluk bırakır */
  padding-top: 100px;

}

.platform-table-container {
  margin-top: 20px;
}

.platform-table {
  width: 100%;
  border-collapse: collapse;
}

.platform-table th,
.platform-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.platform-table th {
  background-color: #f4f4f4;
  text-align: left;
}

.platform-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.platform-table tr:hover {
  background-color: #f1f1f1;
}
