.header {
  background-color: #ffffff;
  color: #ecf0f1;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between; /* Logo ve nav menüsünü hizalar */
  align-items: center;
  position: fixed;
  top: 0;
  left: 15.625rem; /* Sidebar genişliği */
  right: 0;
  height: 3.75rem; /* Header yüksekliği */
  z-index: 999;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/* Logo */
.logo img {
  height: 40px;
}

/* Navigasyon menüsü */
.nav {
  display: flex;
}

.nav-link {
  color: #ecf0f1;
  text-decoration: none;
  padding: 0 20px;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #3498db;
}

/* Medya Sorguları */
@media (max-width: 768px) {
  .header {
    padding: 10px;
  }

  .nav {
    display: none; /* Hamburger menü eklenebilir */
  }
}
